# This is a sample .env file for use in local development.
# Duplicate this file as .env in the root of the project
# and update the environment variables to match your
# desired config

SECRET_KEY=django-insecure-^$z#g&10!$)ytix7b3$z431z8^e@-igu@-=(qkl(0vm0v%-=c2