*.pyc
*.pyo
*.db
.vscode
.sqlite3
.env.txt
venv
/static/
/media/
.idea/
BG/__pycache__/
 __pycache__/
 accounts/__pycache__/
accounts/migrations/__pycache__/
catalog/__pycache__/
catalog/migrations/__pycache__/