{% extends 'base.html' %}

{% block content %}
    {% if game.age_check %}
        <h1>{{ game.age_check }}</h1>
    {% endif %}
    <h1>{{ game.name }} {{ game.recommendation }}</h1>
    <b>Age:</b>
    {{ game.start_player_age }}+<br>
    <b>Playing Time:</b>
    {{ game.playing_time }} min<br>
    {% if game.min_players_number == game.max_players_number %}
        <b>Number of players:</b>
        {{ game.min_players_number }} players<br>
    {% else %}
        <b>Number of players:</b>
        {{ game.min_players_number }}-{{ game.max_players_number }} players<br>
    {% endif %}
    <b>Store rating:</b>
    {{ game.rating_from_the_store }} out of 10<br>
    <b>Price {{ game.is_sale }}:</b>
    {{ game.price }}$ <br>
    {% if game.picture %}
        <img src="{{ game.picture.url }}" alt="{{ name_game }}" width="500"
             height="600"><br>
    {% endif %}
    <i>{{ game.description }}</i><br>
    <br/><br/>
    <hr>
    <br/>
    <form action="{% url 'catalog:like_game' game.pk %}" method="POST">
        {% csrf_token %}
        <button type="submit" , name="game_id" , value="{{ game.id }}">Like
        </button>
        - {{ game.total_likes }} Likes
    </form>

    <hr>
    <h2>Comments</h2>
    {% if not game.comments.all %}

    {% else %}
        {% for comment in game.comments.all %}
            <strong>{{ comment.owner }} - {{ comment.date_added }}</strong>
            <br/>
            {{ comment.body }}
            <br/><br/>
        {% endfor %}
    {% endif %}
    {% if user.is_authenticated %}
        <a href="{% url 'catalog:add_comment' game.pk %}">Add comment</a>
    {% endif %}
    <hr>
{% endblock content %}